.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c0068;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 0px 0px #FFF;
    margin: 50px;
}

.card-project.-blue {
    background-color: #4C5B84;
}

.section.-bgblack {
    background-color: #000;
}
