.timeline {
    background-color: #1c0068;
    color: white;
    font-family: Fira Code;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
 .main-texto {
    font-family: Fira Code;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    color: #fff;
    
 }

